<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <properties> <property name="dialect" value="mysql5" /> </properties> -->
	<typeAliases>
	<typeAlias type="net.x_talker.as.persist.entity.MessageState" alias="messageState"/>
	</typeAliases>
	<mappers>
	
		<mapper resource="net/x_talker/as/persist/sqlmapper/mysql/message-mapper.xml" />
	</mappers>
	
</configuration>